.header{
    background-color:#03031d;
    width: 100%;
    min-height: 87.8vh;
    height: auto;
    
}
.getStarted{
    font-size: 20px;
    text-decoration: none;
    border: 1px solid royalblue;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s;
}
.getStarted:hover{
    /* background-color: royalblue; */
    box-shadow: 2px 2px 10px royalblue;
    color: white;
}
.animated{
    animation: animative_image 2s alternate linear infinite ;

}
@keyframes animative_image {
    0%{
        transform: translateY(10px);

    }
 100%{
    transform: translateY(-10px);

 }
}